/* formatage du code par defaut  */

*{
    margin: 0px;
    padding: 0px;
}

/* disposition du contenant et des div puis coloration */

.contain{
    width: 100%;
    height: 400px;
}
.contain div {
    position: absolute;
}

.div_0,.div_5{
    background-color: red;
    border: solid 2px blue;
}
.div_2,.div_3{
    background-color: yellow;
}
.div_0{
    top: 10%;
    left: 20%;
}
.div_1{
    background-color: indigo;
    border: solid 2px white;
    top: 15%;
    left: 23%;
    z-index: 1;
}
.div_2{
    border: solid 2px red;
    top: 22%;
    left: 26%;
    z-index: 1;
}
.div_3{
    border: solid 2px green;
    top: 28.5%;
    left: 29%;
    z-index: 2;
}
.div_4{
    background-color:rgb(106, 255, 47) ;
    border: solid 2px blue;
    top: 31.5%;
    left: 27.3%;
    z-index: 3;
}
.div_5{
    top: 25%;
    left: 31%;
    z-index: 1;
}
/* on definit les tailles des differentes boites */
.div_0{
    width: 180px;
    height: 200px;
}
.div_1{
    width: 120px;
    height: 120px;
}
.div_2{
    width: 180px;
    height: 170px;
}
.div_3{
    width: 75px;
    height: 75px;
}
.div_4,.div_5{
    width: 100px;
    height: 100px;
}

